@charset "utf-8";
/* style.css */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; /* Remove default list styles */
}

body {
  font-family: "Noto Sans JP", "Roboto", "Arial", sans-serif;
  background-color: #fff;
}

header, footer, nav {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

nav {
  background-color: #ddf;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around; /* Distribute items evenly */
}

nav li {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #000;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

article {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

figure {
  margin: 0; /* Remove default margin */
}

figure img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  text-align: center;
  padding: 5px;
}

/* Media Queries for Responsive Layout */
@media (min-width: 961px) {
  article {
    max-width: calc(50% - 20px);
  }
}

@media (min-width: 1281px) {
  article {
    max-width: calc(33.333% - 20px);
  }
}

@media (min-width: 1801px) {
  article {
    max-width: calc(25% - 20px);
  }
}
