@charset "utf-8";
/* style.css */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, p {
  margin: 0;
}

body {
  font-family: "Noto Sans JP", "Roboto", "Arial", sans-serif;
  background-color: #fff;
}

header, footer, nav, .gallery-container {
  padding: 0 10px; /* Align padding with gallery items */
}

header, footer, nav {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

nav {
  background-color: #ddf;
  margin-bottom: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the start */
  gap: 10px;
  margin-left: -10px; /* Align left edge with the header and footer */
  margin-right: -10px; /* Align right edge with the header and footer */
}

section {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  flex-basis: calc(20% - 20px); /* Adjust basis to 20% minus gap */
  box-sizing: border-box;
  max-width: calc(20% - 20px); /* Maximum width set to same as flex-basis */
}

section img {
  width: 100%;
  height: auto;
  display: block;
}

.image-text {
  text-align: left; /* Align text to the left */
  padding: 5px;
}

.image-text p {
  font-size: 0.9em;
}

/* Responsive adjustments */
@media (min-width: 601px) {
  section {
    flex-basis: calc(50% - 20px); /* Adjust basis to 50% minus gap */
    max-width: calc(50% - 20px); /* Maximum width set to same as flex-basis */
  }
}

@media (min-width: 961px) {
  section {
    flex-basis: calc(33.333% - 20px); /* Adjust basis to 33.333% minus gap */
    max-width: calc(33.333% - 20px); /* Maximum width set to same as flex-basis */
  }
}

@media (min-width: 1281px) {
  section {
    flex-basis: calc(25% - 20px); /* Adjust basis to 25% minus gap */
    max-width: calc(25% - 20px); /* Maximum width set to same as flex-basis */
  }
}

@media (min-width: 1501px) {
  section {
    flex-basis: calc(20% - 20px); /* Stay at 20% minus gap */
    max-width: calc(20% - 20px); /* Maximum width set to same as flex-basis */
  }
}

@media (min-width: 1801px) {
  section {
    flex-basis: calc(16.666% - 20px); /* Adjust basis to 16.666% minus gap */
    max-width: calc(16.666% - 20px); /* Maximum width set to same as flex-basis */
  }
}
